src/.env
src/env
notes.txt

tchat/config.ini

tchat/config.ini
tChat/__pycache__
tChat/chat_parser/__pycache__/*
tChat/customizer/__pycache__/*
tChat/config/__pycache__
tests/__pycache__
config/__pycache__
__pycache__/
env/

build/
dist/
tChat.egg-info/
